.form-contact {
    display: flex;
}
.form-contact label {
    padding:0 20px;
}
.form-contact input:nth-child(3) {
    width: 20px;
    margin:0 30px;
}
.form-contact input:nth-child(2),
.form-contact input:nth-child(4) {
   width: 100px;
}
.form-mailing {
    display: flex;
    padding:0 6px;
}
.form-col {
    padding:0 20px;
    display: flex;
    flex-direction:column;
}
.form-row input {
    margin-right:50px;
    width:162px;
}
.form-row select {
    height: 22px;
}
.form-zip {
    padding:0 52px;
}
.form-zip input {
    width: 100px;
    margin-left:30px;
}
.form-zip p {
    padding:0 100px;
}
.form-email {
    padding:0 15px;
}
.form-email .email-row {
    position: relative;
}
.form-email .email-row input  {
    margin:0 15px;
}
.form-email .email-row:nth-child(3) input {
    margin:0 60px;
    position: absolute;
    top:0px;
}
.form-phone {
    padding:0 67px;
}
.form-phone input {
    width: 20px;
    margin:0 17px;
}
.form-phone select {
    height:22px;
    margin-left: 15px;
    width: 113px;
}
.form-title {
    position: relative;
    display: flex;
    padding:0 150px;
}
.form-title .checkbox {
    position: absolute;
    left:125px;
    bottom:33px;
}
a {
    text-decoration: none;
    color:#1edaba;
    font-weight: bold;
    padding:0 160px;
}
.form-enroll {
    padding:0 7px;
    display: flex;
    position: relative;
}
.form-enroll label {
    max-width: 110px;
}
.form-enroll p {
    position: absolute;
    left:150px;
    bottom:1px;
}
.form-enroll #enroll {
    position: absolute;
    left:125px;
}