$main-color: #252525;
$container-color:#bca858;
$header-color:#6e6e6e;
$nav-color:#f6f9f9 ;
$article-color:#ebebeb;
$asile-color:#e5e5e5;
$footer-color:#acacac;
$list-color:#4b62b3;
$wrap-color:#03baeb;
$content-color:#cb242e;
$contact-color: #057ad7;